body {
  background: #434C50;
  background: linear-gradient(135deg, #434C50, #080E18);
  height: 100vh;
}
.sidebar {
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: #393939;
}

.logo {
  width: 100%;
  cursor: pointer;
  margin-top: 7%;
}

.moto-img {
  position: absolute;
  width: 35%;
  margin-top: 35%;
  margin-left: 49%;
}

.moto-texto {
  position: absolute;
  margin-top: 50%;
  margin-left: 5%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;

  color: #FFFFFF;
}

.repuesto-img {
  position: absolute;
  width: 30%;
  margin-top: 5%;
  margin-left: 50%;
}

.repuesto-texto {
  position: absolute;
  margin-top: 18%;
  margin-left: 5%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;

  color: #FFFFFF;
}

.linea-horizontal {
  margin-top: 75%;
  margin-left: 5%;
  width: 80%;
  height: 0px;
  left: 8px;
  top: 201px;
  border: 1px solid rgba(31, 31, 31, 0.44);
}

.logout {
  position: absolute;
  width: 125px;
  height: 29px;
  left: 10px;
  top: 92%;

  background: #000B6A;
  border-radius: 5px;
}

.logout-texto {
  
  font-family: 'Gabriela';
  font-style: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  
  color: #FFFFFF;
  margin: 0;
  
}
